#sectionRencontres{
    background-image: url('/ressources/fonds/ete.jpg');
    background-size: 100% auto; /* 100% de la largeur, hauteur automatique sans déformation */
    background-repeat: no-repeat;
    background-position: top center;
    
    /* Opacité appliquée uniquement à l'image */
    opacity: 0.85;
    
    padding-left: 25px;
    padding-right: 25px;
    padding-top:0px;
    padding-bottom:300px;   
    
    display: flex;
    align-items: center; /* Aligne verticalement au centre */
    grid-area: stack;
}

.section-wrap {
    height: 1350px;
    width: 1022px;
    display: grid
}

img.fondagenda {
    z-index: 2; /* Force l'image à passer au-dessus de la div */
    align-self: center; /* Optionnel : centre verticalement */
    justify-self: center; /* Optionnel : centre horizontalement */
    pointer-events: none; /* Optionnel : permet d'interagir avec le texte en dessous */
    grid-area: stack;
}

#sectionRencontres.AucuneRencontre{
    display:block;
    background-image: none;
    background-repeat: no-repeat;
    min-height: 50px;
    height: 50px;
    padding-left: 0px;
}

.listRencontres {
    display:flex;
    flex-direction:column;
    gap:6px;
    width:100%
}

.titreSemaine{
    margin:10px;
    font-family: 'Alfa Slab One', 'Impact', 'Arial Black', cursive, sans-serif;
    font-size: 50px;
    color: #ec843f; /* Orange vif / cuivré */
    text-align: left;

    /* Contour/Lueur sombre et ombre portée pour reproduire l'effet 3D/relief */
    text-shadow: 
        -1px -1px 0 #111,  
        1px -1px 0 #111,
        -1px  1px 0 #111,
        1px  1px 0 #111,
        3px  4px 6px rgba(0, 0, 0, 0.85);
        
    letter-spacing: 0.5px;
}

.titreGroupe{
    margin:10px;
    text-transform: uppercase;
    font-family: 'Impact', 'Arial Black', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #100347; /* Blanc pur */
    text-transform: uppercase;
    letter-spacing: 2.5px; /* Espacement marqué entre les lettres */
    
    /* Légère ombre portée pour détacher le texte du fond dégradé bleu */
    display: flex;
    align-items: center; /* Aligne verticalement au centre */    
}

.rencontre{
    display:grid;
    grid-template-columns:1fr 120px 1fr;
    align-items:center;

    border:2px solid #15078f;
    border-radius:5px;
    background-color: #f7f5f4;

    padding:3px 10px;
    margin-bottom:0px;
    color: #072f69;
    font-family: 'Alfa Slab One', 'Arial Black', sans-serif;   
}

.exempt_list {
    text-align: left;
    margin-top:50px;
    margin-right:10px;
    font-size:28px;
    color: #072f69;
    font-family: 'Impact', 'Arial Black', sans-serif;
}

.equipeABP {
    color: #e5772e;
}

.equipe{
    font-size:25px; 
}

.gauche{
    text-align:left;
}

.droite{
    text-align:right;
}

.centre{
    text-align:center;
    font-size: 16px;
    font-weight:bold;
}

.jour{
    font-weight:bold;
    text-transform:uppercase;
}

.heure{
    margin-top:4px;
    font-size:20px;
    color:#0b63c8;
}