/* Masque la moitié droite (n'affiche que la gauche) */
.clip-gauche {
  aspect-ratio: 2 / 3;
  width: 200px;
  /* Moitié de la largeur totale */
  object-fit: cover;
  object-position: left center;
  /* Ancre l'image à gauche */
}

/* Masque la moitié gauche (n'affiche que la droite) */
.clip-droite {
  aspect-ratio: 2 / 3;
  width: 200px;
  object-fit: cover;
  object-position: right center;
  /* Ancre l'image à droite */
}

.vignette-collection {
  /* 1. Dimensions et Ratio */
  display: block;

 /* 3. Bordures et Coins */
  border: 3px solid #e4e3ec;
  /* Bordure fine extérieure sombre */
  box-sizing: border-box;
  /* Inclut padding et border dans la largeur */

}

.gallery-equipe {
  display: flex;
  gap:0px;
}


.gallery-full {
  display: flex;
  flex-wrap: wrap;
  /* ESSENTIEL pour autoriser le passage à la ligne */
  gap: 16px;
}

@media (max-width: 480px) {
  .gallery-full {
    gap: 0px;
  }
}